<a href="https://colab.research.google.com/github/tp6cj65l4/Introduction-to-Computers/blob/main/0524.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
list1=range(9)
list2=range(1,10)
list3=range(1,10,2)
list4=range(10,1,-2)
print(list(list1),list(list2),list(list3),list(list4),sep='\n')

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [7]:
a=int(input())
list1=range(1,a+1)
print(list(list1))

12
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [13]:
a=int(input())
b=range(1,a+1)
sum=0
for i in b:
 sum=sum+i
print('1到',a,'的整數和為',sum)

10
1到 10 的整數和為 55

In [15]:
a=int(input())
b=range(1,a+1)
sum=0
for i in b:
 sum=sum+i
 print('1到',i,'的整數和為',sum)

10
1到 1 的整數和為 1
1到 2 的整數和為 3
1到 3 的整數和為 6
1到 4 的整數和為 10
1到 5 的整數和為 15
1到 6 的整數和為 21
1到 7 的整數和為 28
1到 8 的整數和為 36
1到 9 的整數和為 45
1到 10 的整數和為 55